@font-face {
    font-family: 'ci';
    src: 
        /*url("ci.woff") format('woff')*/
        url("ci.woff2") format('woff2'),
        url("ci.ttf") format("ttf"),  
        url("ci.eot") format("eot");
}

.ci {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: ci;
    font-style: normal;

    &.ci-new:before { content: "{new}"; }
    &.ci-close:before { content: "{close}"; }
    &.ci-delete:before { content: "{delete}"; }
    &.ci-edit:before { content: "{edit}"; }
    &.ci-urlmove:before { content: "{urlmove}"; }
    &.ci-save:before { content: "{save}"; }
}