.ci {
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &.ci-new { background-image: url("../img/new.png"); }
    &.ci-close { background-image: url("../img/close.png"); }
    &.ci-delete { background-image: url("../img/delete.png"); }
    &.ci-edit { background-image: url("../img/edit.png"); }
    &.ci-urlmove { background-image: url("../img/urlmove.png"); }
    &.ci-save { background-image: url("../img/save.png"); }
}